<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.SpringBoot.dao.mapper.base.DepartmentStaffsRefMapper">

	<insert id="insert" parameterType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty">
		insert into department_staffs_ref(
			iD,departmentId,staffId)
		values (
			#{iD},#{departmentId},#{staffId}
		)
	</insert>

	<select id="selectById" parameterType="long" resultType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty">
		select * from department_staffs_ref where iD=#{value}
	</select>

	<delete id="deleteById" parameterType="long">
		DELETE FROM department_staffs_ref WHERE iD=#{value}
	</delete>

	<select id="selectByEntity" parameterType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty" resultType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty">
		SELECT * from department_staffs_ref
		<where> 
			<if test="iD != null "> AND iD=#{iD}</if>
			<if test="departmentId != null "> AND departmentId=#{departmentId}</if>
			<if test="staffId != null "> AND staffId=#{staffId}</if>
		</where> 
	</select>

	<update id="updateById" parameterType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty">
		UPDATE department_staffs_ref
		<set> 
			<if test="departmentId != null">departmentId=#{departmentId},</if>
			<if test="staffId != null">staffId=#{staffId},</if>
		</set> 
		WHERE iD=#{iD}
	</update>

	<select id="selectByLimit" resultType="com.demo.SpringBoot.dao.entity.DepartmentStaffsRefEty">
		SELECT * from department_staffs_ref
		<where> 
			<if test="ety.iD != null "> AND iD=#{ety.iD}</if>
			<if test="ety.departmentId != null "> AND departmentId=#{ety.departmentId}</if>
			<if test="ety.staffId != null "> AND staffId=#{ety.staffId}</if>
		</where> 
		<if test="limit == null"> order by iD desc</if>
		<if test="limit != null">
			<if test="limit.sort == null"> order by iD desc</if>
			<if test="limit.sort != null"> order by ${limit.sort} ${limit.dir}</if>
			<if test="limit.limit != null"> limit ${limit.start}, ${limit.limit}</if>
		</if>
	</select>

	<select id="selectLimitCount" resultType="long">
		SELECT count(1) from department_staffs_ref
		<where> 
			<if test="ety.iD != null "> AND iD=#{ety.iD}</if>
			<if test="ety.departmentId != null "> AND departmentId=#{ety.departmentId}</if>
			<if test="ety.staffId != null "> AND staffId=#{ety.staffId}</if>
		</where> 
	</select>
</mapper>