<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.SpringBoot.dao.mapper.module.UserReportMapper">
	<select id="selectUserReportBeanCount" parameterType="com.demo.SpringBoot.dao.vo.userreport.UserReportForm" resultType="long">
		select count(1) from staff s 
		LEFT JOIN department_staffs_ref de on s.id = de.staffId
		LEFT JOIN department d on de.departmentId = d.id
		<where> 		
		<if test="form.id != null "> AND s.id=#{form.id}</if>
		<if test="form.name != null  and form.name != ''"> AND s.name=#{form.name}</if>
		<if test="form.birthday != null "> AND s.birthday=#{form.birthday}</if>
		</where> 
	</select>

	<select id="selectUserReportBeanByLimit" parameterType="com.demo.SpringBoot.dao.vo.userreport.UserReportForm" resultType="com.demo.SpringBoot.dao.vo.userreport.UserReportBean">
		select s.id,s.name,s.age,s.birthday,s.email,d.name as departmentName,d.address
		from staff s 
		LEFT JOIN department_staffs_ref de on s.id = de.staffId
		LEFT JOIN department d on de.departmentId = d.id
		<where> 		
		<if test="form.id != null "> AND s.id=#{form.id}</if>
		<if test="form.name != null  and form.name != ''"> AND s.name=#{form.name}</if>
		<if test="form.birthday != null "> AND s.birthday=#{form.birthday}</if>
		</where> 
		order by s.id DESC
		<if test="limit.limit != null"> limit ${limit.start}, ${limit.limit}</if>
	</select>
</mapper>