<div cg-busy="{promise:promise,templateUrl:'',message:'正在加载...',backdrop:true,delay:0,minDuration:0}">
<form class="form-horizontal" role="form" style="padding: 10px 15px 5px 15px;margin: 10px;background-color: #FFF;border-radius: 5px;box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2);">
	<div class="form-group form-group-sm" style="margin-bottom:0px;margin-top:10px;">
		<label class="control-label col-md-1 col-sm-2 col-xs-4 text-right">ID</label>
		<div class="col-md-3 col-sm-4 col-xs-8">
				<input type="text" class="form-control input-sm" ng-model="searchForm.id" placeholder="ID">
	    </div>
		<label class="control-label col-md-1 col-sm-2 col-xs-4 text-right">name</label>
		<div class="col-md-3 col-sm-4 col-xs-8">
				<input type="text" class="form-control input-sm" ng-model="searchForm.name" placeholder="name">
	    </div>
		<label class="control-label col-md-1 col-sm-2 col-xs-4 text-right">birthday</label>
		<div class="col-md-3 col-sm-4 col-xs-8">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control btn-sm" placeholder="日期" ng-click="birthdayOpened=true" datepicker-localdate uib-datepicker-popup ng-model="searchForm.birthday" is-open="birthdayOpened" datepicker-options="{formatYear: 'yy',startingDay: 1,showWeeks:false}" ng-required="false" current-text="今天"  clear-text="清空" close-text="关闭" />
					<div class="input-group-addon" ng-click="birthdayOpened=true">
						<i class="fa fa-calendar"></i>
					</div>
				</div>
	    </div>
	</div>
	<div class="form-group form-group-sm" style="margin-bottom:0px;margin-top:10px;">
		<div class="col-md-12">
			<div class="form-group form-group-sm">
				<div class="pull-right" style="padding-right:20px;">
					<button type="submit" class="btn btn-danger btn-sm" ng-click="search();"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
					<button type="button" class="btn btn-default btn-sm" ng-click="clearSearch();"><i class="fa fa-trash-o" aria-hidden="true"></i>清空</button>
				</div>
			</div>
		</div>
	</div>
</form>

<ac-table>
    <ac-table-column header="ID" field="id" sortable="true"></ac-table-column>
    <ac-table-column header="name" field="name" sortable="true"></ac-table-column>
    <ac-table-column header="age" field="age" sortable="true"></ac-table-column>
    <ac-table-column header="birthday" field="birthday" sortable="true"></ac-table-column>
    <ac-table-column header="email" field="email" sortable="true"></ac-table-column>
    <ac-table-column header="departmentName" field="departmentName" sortable="true"></ac-table-column>
    <ac-table-column header="address" field="address" sortable="true"></ac-table-column>
	<ac-table-grid items="dataList" selectable="false" multiple="false" id-field="id" selected-items="selectedItems" paging="pagination" on-page-change="pageChanged()" on-sort-change="search()"></ac-table-grid>
</ac-table>
</div>